@model TestApplication.ViewModels.IncomeVm;

@{
    ViewData["Title"] = "Record Income";
}


<form asp-action="RecordIncome" method="post" id="expenseForm" class="container mt-4"
      style="max-width:500px;margin:auto;">

    <div class="card">
        <div class="card-header">
            <h6>Add Income</h6>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="TxnDate">Date <span class="text-danger">*</span></label>
                <input asp-for="TxnDate" hidden="hidden" class="form-control" id="engdate" type="text"
                       autocomplete="off"/>
                <input class="form-control" id="date" type="text" autocomplete="off"/>
                <span asp-validation-for="TxnDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Income Ledger <span class="text-danger">*</span></label>
                <select id="IncomeLedger" asp-for="IncomeLedger" class="form-select" required="required">
                    <option value="">-- Select Income Ledger --</option>
                    @if (Model.IncomeLedgerList != null)
                    {
                        foreach (var i in Model.IncomeLedgerList)
                        {
                            <option value="@i.Value">@i.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Amount" class="form-label">Amount <span class="text-danger">*</span></label>
                <input type="number" name="Amount" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Cash/Bank<span class="text-danger">*</span></label>
                <select id="IncomeFrom" asp-for="IncomeFrom" class="form-select" required="required">
                    <option value="">-- Select Cash/Bank Ledger --</option>
                    @if (Model.CashAndBankLedger != null)
                    {
                        foreach (var cb in Model.CashAndBankLedger)
                        {
                            <option value="@cb.Value">@cb.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Remarks" class="form-label">Remarks <span class="text-danger">*</span> </label>
                <input type="text" name="Remarks" class="form-control" required/>
            </div>


            <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want save!')">Record</button>
            <button type="" formmethod="get" asp-action="RecordIncome" class="btn btn-danger">Discard</button>
        </div>
    </div>
</form>

