@model TestApplication.ViewModels.ExpenseVm;

@{
    ViewData["Title"] = "Record Expense";
}

<form asp-action="RecordExpense" method="post" id="expenseForm" class="container mt-4"
      style="max-width:500px;margin:auto;">

    <div class="card">
        <div class="card-header">
            <h6>Add Expense</h6>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="TxnDate">Date <span class="text-danger">*</span></label>
                <input asp-for="TxnDate" class="form-control" data-date-mask type="text"
                       value="@DateHelper.GetNepaliDate(DateTime.Now).Result"/>
                <span asp-validation-for="TxnDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Expense Ledger <span class="text-danger">*</span></label>
                <select id="ExpenseLedger" asp-for="ExpenseLedger" class="form-select" required="required">
                    <option value="">-- Select Expense Ledger --</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Amount" class="form-label">Amount <span class="text-danger">*</span></label>
                <input type="number" name="Amount" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Expense From Ledger <span class="text-danger">*</span></label>
                <select id="ExpenseFromLedger" asp-for="ExpenseFromLedger" class="form-select" required="required">
                    <option value="">-- Select Cash/Bank Ledger --</option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Remarks" class="form-label">Remarks <span class="text-danger">*</span> </label>
                <input type="text" name="Remarks" class="form-control" required/>
            </div>


            <button type="submit" class="btn btn-primary">Record</button>
            <button type="" formmethod="get" asp-action="RecordExpense" class="btn btn-danger">Discard</button>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts{
    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/DropdownProvider/GetExpenseLedgers',
                type: 'GET',
                success: function (data) {
                    fillDropdown('#ExpenseLedger', data);
                }
            });

            $.ajax({
                url: '/DropdownProvider/GetCashBankLedgers',
                type: 'GET',
                success: function (data) {
                    fillDropdown('#ExpenseFromLedger', data);
                }
            });

            function fillDropdown(selector, data) {
                $.each(data, function (i, item) {
                    $(selector).append(
                        $('<option>', {value: item.id, text: item.ledgername})
                    );
                });
            }
        });
    </script>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlertMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
