@model TestApplication.ViewModels.LedgerstatementVm

@{
    ViewData["Title"] = "Ledger Statement";
}

<div style="margin: 20px;">
    <h2>Ledger Statement</h2>

    <form id="searchForm" method="post" asp-action="LedgerStatement">
        <label for="DateFrom" asp-for="DateFrom">Date From <span class="text-danger">*</span></label>
        <input type="text" required="required" value="@await DateHelper.GetNepaliDate(DateTime.Now.AddDays(-30))"
               id="DateFrom"
               name="DateFrom"/>

        <label for="DateTo" asp-for="DateTo">Date To <span class="text-danger">*</span></label>
        <input type="text" value="@await DateHelper.GetNepaliDate(DateTime.Now)" required="required" id="DateTo"
               name="DateTo"/>

        <label for="">Select Ledger <span class="text-danger">*</span></label>
        <select id="LedgerSelection" asp-for="LedgerId" name="LedgerId">
            <option value="">-- Select Ledger --</option>
        </select>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to load the ledgers
        function loadLedgers() {
            $.ajax({
                url: '/DropdownProvider/GetLedgers/',
                method: 'GET',
                success: function (data) {
                    $('#LedgerSelection').empty();

                    $('#LedgerSelection').append('<option value="">-- Select Ledger --</option>');
                    $.each(data, function (index, ledger) {
                        $('#LedgerSelection').append(
                            $('<option>', {
                                value: ledger.id,
                                text: ledger.coaname + ' | ' + ledger.ledgername
                            })
                        );
                    });
                },
                error: function (xhr, status, error) {

                    alert('Error fetching ledgers: ' + error);
                }
            });
        }

        // Initialize the loading of ledgers when the page is ready
        loadLedgers();
    });

</script>